{{> head}}

{{> navbar}}

<div class="row">
  <div class="col-8">
    <h1>HOLA</h1>
  </div>
  <div class="col 4">
    <img
      src="https://res.cloudinary.com/chelsea-production/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,g_auto,h_545,q_auto,w_1170,z_1.0/v1/editorial/news/2020/09/Havertz_CJL13504_2020090533728786"
      alt="Photo" class="img-thumbnail">
  </div>
</div>

{{> footer}}